.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin-left: 20px; */
  justify-content: space-between;

}


.App-header {
  background-color: #FC8801;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  top: 0;
}

.App-link {
  color: #61dafb;
}

.white-content {
  background: black;
}
